<template>
    <section>
        <Heading headingTitle="Create new project" />
        <FormProject buttonName="Create new project" />
    </section>
</template>

<script setup lang="ts">
import Heading from '@/components/atoms/Heading.vue'
import FormProject from '@/components/molecules/FormProject.vue';

</script>
