<template>
    <section
        v-if="isOffline"
        class="flex flex-col items-center justify-center"
    >
        <RequestError
            image-source-path="/offline.jpg"
            alt-text="offline-image"
            class="w-96 h-96 text-center"
        >
            <Paragraph
                text-paragraph="Ooops, it's look we're offline Houston"
                class="my-5 font-mono font-bold text-xl"
            />
        </RequestError>
    </section>
    <section v-else>
        <section v-if="isNotFound">
            <RequestError
                image-source-path="/404.jpg"
                alt-text="404-not-found-resource-image"
                class="w-96 h-96 text-center"
            >
                <Paragraph
                    text-paragraph="404 - Not found project, come back later."
                    class="my-5 font-mono font-bold text-xl"
                />
            </RequestError>
        </section>
        <section v-else>
            <div>
                Editing
                <FormProject
                    :id="project?.id"
                    :name="project?.name"
                    :source-language="project?.sourceLanguage"
                    :target-languages="project?.targetLanguages"
                    button-name="Update Project"
                />
            </div>
        </section>
    </section>
</template>

<script setup lang="ts">
import { useRoute, type LocationQueryValue } from 'vue-router'
import { defineAsyncComponent, ref, type Ref, watchEffect } from 'vue'
import Loading from '@/components/atoms/Loading.vue'
import type { Project } from '@/shared/interface/Project'
import Paragraph from '@/components/atoms/Paragraph.vue'

const FormProject = defineAsyncComponent({
    loader: () => import("@/components/molecules/FormProject.vue"),
    // A component to use while the async component is loading
    loadingComponent: Loading,
    // Delay before showing the loading component. Default: 200ms.
    delay: 200,
    // A component to use if the load fails
    errorComponent: Loading,
    // The error component will be displayed if a timeout is
    // provided and exceeded. Default: Infinity.
    timeout: 3000
})
const RequestError = defineAsyncComponent({
    loader: () => import("@/components/molecules/RequestError.vue"),
    loadingComponent: Loading,
    delay: 200,
    errorComponent: Loading,
    timeout: 3000
})
const API = '/api'
const userID: Ref<LocationQueryValue | LocationQueryValue[]> = ref('')
let isOffline: Ref<boolean> = ref(false)
let isNotFound: Ref<boolean> = ref(false)
let project: Ref<Project> = ref(<Project>{})

const route = useRoute()
watchEffect(
    async () => {
        userID.value = route.params.id
        const response = fetch(`${API}/${userID.value}`)

        let status: number = await response.then(resp => resp.status)
        statuCode(status)

        return project.value = await response.then(resp => resp.json()).catch(error => error)
    })
//TODO inhance statusCode to a file and handler it between components or move response to store(PINIA)
function statuCode(status: number) {
    switch (status) {
        case 500:
            return isOffline.value = true
        case 404:
            return isNotFound.value = true
        default:
            break
    }
}
</script>
