<script setup lang="ts">
import BaseInput from "@/components/atoms/BaseInput.vue"
import CreateProjectButton from '@/components/atoms/Button.vue'
import Loading from '@/components/atoms/Loading.vue'
import Paragraph from '@/components/atoms/Paragraph.vue'
import router from '@/router'
import type { Project } from '@/shared/interface/Project'
import { computed, defineAsyncComponent, ref, watchEffect, type Ref } from 'vue'

const TotalOverview = defineAsyncComponent({
  loader: () => import("@/components/organisms/TotalOverview.vue"),

  // A component to use while the async component is loading
  loadingComponent: Loading,

  // Delay before showing the loading component. Default: 200ms.
  delay: 200,
  // A component to use if the load fails
  errorComponent: Loading,
  // The error component will be displayed if a timeout is
  // provided and exceeded. Default: Infinity.
  timeout: 3000
})
const ProjectTable = defineAsyncComponent({
  loader: () => import("@/components/organisms/Table.vue"),
  loadingComponent: Loading,
  delay: 200,
  errorComponent: Loading,
  timeout: 3000
})
const OffLine = defineAsyncComponent({
  loader: () => import("@/components/molecules/RequestError.vue"),
  loadingComponent: Loading,
  delay: 200,
  errorComponent: Loading,
  timeout: 3000
})

const API = "/api"
const projectList: Ref<Project[]> = ref([])
let filteredProject: Ref<Project[] | undefined> = ref([])

const countDeliveredProjects: Ref<number> = ref(0)
const countNewProject: Ref<number> = ref(0)
const countDueDateProject: Ref<number> = ref(0)

const mostProminent: Ref<string | undefined> = ref()
const searchText: Ref<string> = ref('')
const picked: Ref<string> = ref('')

let isOffline: Ref<boolean> = ref(false)

watchEffect(async () => {
  const response = fetch(`${API}`)
  projectList.value = await response.then(response => response.json()).then(_embedded => _embedded._embedded.projects).catch(error =>
    error)
  let responseStatus = await response.then(res => res.status)

  if (responseStatus != 200) {
    isOffline.value = true
  }
  countDeliveredProjects.value = counterByProjectsStatus('delivered')
  countNewProject.value = counterByProjectsStatus('new')
  countDueDateProject.value = counterByDueDate()
  mostProminent.value = findMostProminent(projectList, 'sourceLanguage').sort((a: any, b: any) => b.prominent - a.prominent)[ 0 ]?.sourceLanguage
})

filteredProject = computed((searchBy = picked) => {
  if (searchText.value.trim().length < 3 || picked.value == "") {
    return projectList.value
  } else {
    return projectList.value?.filter((el: any) => el[ `${searchBy.value}` ]?.toLowerCase().includes(searchText.value.toLowerCase()))
  }
})
//Counter reduce Due Date
function counterByDueDate() {
  return projectList.value?.reduce((counter: number, currentObject: any) => {
    let timeNow = new Date().toISOString()
    if (currentObject.dateDue <= timeNow) {
      counter += 1
    }
    return counter
  }, 0)
}

//Counter reduce Project By Status
function counterByProjectsStatus(projectStatus: string) {
  let status = projectStatus.toLowerCase()
  return projectList.value?.reduce(function (counter: number, currentObject: Project) {
    if (currentObject.status?.toLowerCase() == status)
      counter += 1
    return counter
  }, 0)
}

//Most prominent Language //need undestand businessLogic to do the tieBreaker to display right languages
function findMostProminent(arrayProjects: Ref<Project[]>, propKey: string) {
  let projects = arrayProjects.value
  let arraySourcelanguage: any = []
  projects?.forEach((currentProject: any) => {
    // Checking if there is any object in arraySourcelanguage
    // which contains the key value
    if (arraySourcelanguage.some((currentSource: any) => {
      return currentSource[ propKey ] == currentProject[ propKey ]
    })) { // if found, then add occurence by +1
      arraySourcelanguage.forEach((source: any) => {
        if (source[ propKey ] === currentProject[ propKey ]) {
          source[ 'prominent' ]++
        }
      })
    } else {
      let prominent: any = {} // If not! Then create a new object initialize
      prominent[ propKey ] = currentProject[ propKey ] // it with the present iteration propKey's value and
      prominent[ 'prominent' ] = 1 // set the occurrence to 1
      arraySourcelanguage.push(prominent)
    }
  })
  return arraySourcelanguage
}

function createProject() {
  router.push({ path: '/create-project' })
}

</script>
<!-- TODO: adjust layout min-width width -->
<template>
  <section
    v-if="isOffline"
    class="flex flex-col items-center justify-center"
  >
    <OffLine
      image-source-path="/offline.jpg"
      alt-text="offline-image"
      class="w-96 h-96 text-center"
    >
      <Paragraph
        text-paragraph="Ooops, it's look we're offline Houston"
        class="my-5 font-mono font-bold text-xl"
      />
    </OffLine>
  </section>
  <section v-else>
    <TotalOverview
      :number-new-projects="countNewProject"
      :number-delivered-project="countDeliveredProjects"
      :number-due-date-project="countDueDateProject"
      :most-prominent-language="mostProminent"
    />
    <BaseInput
      class="mt-5"
      placeholder="search for Name or Project Status"
      id="filter"
      v-model="searchText"
    />
    <div class="type-search flex">
      <!-- TODO create Reusable Component to CustoRadioButtonSelection -->
      <label
        for="name"
        class="mr-5 w-40"
      >Name
        <input
          type="radio"
          id="name"
          value="name"
          v-model="picked"
          class="ml-3"
        />
      </label>
      <label
        for="status"
        class="mr-5 w-40"
      >Status
        <input
          type="radio"
          id="status"
          value="status"
          v-model="picked"
          class="ml-3"
        />
      </label>
    </div>
    <ProjectTable
      :list-project-render="filteredProject"
      class="my-5"
    />
    <CreateProjectButton
      name="Create new Project"
      class=" bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded"
      @click="createProject()"
    />
  </section>
</template>
