<template>
    <div>
        <label :for="labelFor">{{ label }}</label>
        <input
            :id="id"
            :type="type"
            :value="modelValue"
            @input="$emit('update:modelValue', ($event.target as HTMLInputElement).value)"
            v-bind="$attrs"
            class="w-full border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100"
        />
    </div>
</template>

<script setup lang="ts">
defineProps({
    label: {
        type: String,
        default: '',
    },
    labelFor: {
        type: String,
        default: ''
    },
    id: {
        type: String,
        default: ""
    },
    type: {
        type: String,
        default: 'text'
    },
    modelValue: {
        type: [ String, Array ],
        default: '',
    }
})

</script>
