<template>
    <button v-bind="$attrs">
        <p v-if="name || buttonName">{{ name || buttonName }}</p>
        <slot />
    </button>
    {{ flag.canAccess }}
    {{ flag2.cagao }}
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue'

const flag = reactive({ canAccess: false })
const flag2 = ref({
    isLogged: true,
    peidao: true,
    cagao: false
})
flag.canAccess = true
flag2.value.cagao = true

defineProps({
    name: {
        type: String,
        default: ''
    },
    buttonName: {
        type: String,
        default: ''
    }
})
</script>
