<template>
    <p>
        {{ textParagraph }}
        <slot />
    </p>
</template>

<script setup lang="ts">
defineProps({
    textParagraph: {
        type: String,
        default: ''
    }
})
</script>