<template>
    <div
        id="toast-top-center"
        class="fixed w-full text-center max-w-xs p-4 rounded-lg shadow top-5"
        :class="[ classColors ]"
        role="alert"
    >
        <p class="text-sm font-normal">{{ props.message }}</p>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
    message: {
        type: String,
        default: ''
    },
    typeMessage: {
        type: String,
        default: ""
    }
})

const classColors = computed(() => {
    const value = props?.typeMessage?.toLocaleLowerCase()
    switch (value) {
        case 'error':
            return 'border-2 border-rose-600 bg-red-100 text-rose-600'
        case 'success':
            return 'border-2 border-emerald-600 bg-emerald-100 text-emerald-600'
        case 'alert':
            return 'border-2 border-gold-600'
        case 'info':
            return 'border-2 border-none'
        default:
            break
    }

})
</script>
