<template>
    <form class="w-96 flex flex-col">
        <BaseInput
            v-model="form.name"
            label="Project name"
            id="project-name"
            class="my-3"
            placeholder="project name ..."
        />
        <BaseInput
            v-model="form.sourceLanguage"
            label="Source Language"
            id="source-language"
            minlength="3"
            class="my-3"
            placeholder="i.e: portuguese ..."
            @keypress="isOnlyLetter($event)"
        />
        <BaseInput
            :v-model="form.targetLanguages"
            label="Target Language"
            class="my-3"
            minlenght="3"
            id="source-language"
            placeholder="i.e: pt, en, cz ... + (press enter)"
            maxlength="2"
            @keypress="isOnlyLetter($event)"
            @keyup.enter.stop="targetLanguageAction($event.target.value)"
        />
        <div
            class="w-96"
            v-if="form.targetLanguages?.length"
        >
            <label>Target Language<span v-if="form.targetLanguages?.length > 1">s</span></label>
            <ul class="flex flex-wrap">
                <template
                    v-for="(lang, index) in form.targetLanguages"
                    :key="index"
                >
                    <li
                        class="mr-2"
                        style="cursor: pointer"
                        @click="removetargetLanguages(($event.target as HTMLInputElement).textContent)"
                    >{{ lang }}</li>
                </template>
            </ul>
            <sub>hint: click to remove</sub>
        </div>
        <Button
            class="border my-3 px-4 py-2 rounded-lg"
            :disabled="isFieldsFilled"
            :class="{ 'bg-green-500': !isFieldsFilled, 'bg-gray-200': isFieldsFilled }"
            :button-name="props.buttonName"
            @click.prevent="isCreateOrUpdate(form.id)"
        />
        <Toast
            v-if="toastShow"
            :message="toastInfo.message"
            :type-message="toastInfo.typeMessage"
        />
    </form>
</template>

<script setup lang="ts">
import { computed, reactive, ref, watchEffect, type Ref, type ComputedRef } from 'vue'
import BaseInput from '../atoms/BaseInput.vue'
import Button from "@/components/atoms/Button.vue"
import Toast from "@/components/atoms/Toast.vue"
import type { FormProject } from '@/shared/interface/FormProject'
const API = '/api'

const props = defineProps({
    id: {
        type: Number,
        default: 0
    },
    name: {
        type: String,
        default: ''
    },
    sourceLanguage: {
        type: String,
        default: ''
    },
    targetLanguages: {
        type: Array,
        default: []
    },
    buttonName: {
        type: String,
        default: ''
    }
})
const form = reactive<FormProject>({
    id: props.id,
    name: props.name,
    sourceLanguage: props.sourceLanguage,
    targetLanguages: props.targetLanguages as string[],
    status: 'NEW',
    dateDue: new Date().toISOString(),
    dateCreated: new Date().toISOString(),
    dateUpdated: new Date().toISOString()
})

const toastInfo = reactive({
    message: '',
    typeMessage: ''
})
let isFieldsFilled: Ref<boolean> = ref(false)
let responseStatus: Ref<number> = ref(0)
let toastShow: Ref<boolean> = ref(false)


watchEffect((): ComputedRef<boolean> => {
    return isFieldsFilled = computed((): boolean => {
        const name = form.name.trim()
        const sourceLang = form.sourceLanguage.trim()
        if (name.length >= 3 && sourceLang.length >= 2) {
            return false
        } else {
            return true
        }
    })
})
function targetLanguageAction(value: string): number | undefined {
    let isValidValue = isValidTargetLanguages(value)
    let targetLangArrayLenght = form.targetLanguages?.length
    let hasOnArray = hasOnArrayTargetLanguage(value)

    if (!targetLangArrayLenght && isValidValue && !hasOnArray) {
        return form.targetLanguages.push(value)
    }
    if (isValidValue && !hasOnArray) {
        return form.targetLanguages.push(value)
    }
}
function isValidTargetLanguages(lang: string): boolean {
    if (lang?.trim()?.length == 2) {
        return true
    } else {
        return false
    }
}
function hasOnArrayTargetLanguage(lang: string): boolean {
    let array = form.targetLanguages
    if (array && array.includes(lang)) {
        return true
    } else {
        return false
    }
}
function removetargetLanguages(value: any): void {
    form.targetLanguages = form.targetLanguages.filter((currentItem) => currentItem != value)
}
function isOnlyLetter(element: any): boolean {
    let char = String.fromCharCode(element.keyCode)
    if (/^[A-Za-z]+$/.test(char)) {
        return true
    } else {
        element.preventDefault()
        return false
    }
}
function isCreateOrUpdate(id: number): void {
    if (id == 0) {
        createProject()
    } else {
        updateProject(form.id)
    }
}
async function createProject(): Promise<void> {
    if (isFieldsFilled) {
        try {
            let postProject = fetch(`${API}`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(form)
            })
            responseStatus.value = await postProject.then(resp => resp.status)
            responseStatusAction(responseStatus.value)
        } catch (error) {
            console.error('error', error)
        }
    }
}
async function updateProject(id: number): Promise<void> {
    try {
        let updateProject = fetch(`${API}/${id}`, {
            method: 'PUT',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(form)
        })
        responseStatus.value = await updateProject.then(resp => resp.status)
        responseStatusAction(responseStatus.value)
    } catch (error) {
        console.error('error', error)
    }
}
function responseStatusAction(response: number): void {
    switch (response) {
        case 201:
            setToast(true, "Project create with success", 'success', 6000)
            resetForm()
            break
        case 200:
            setToast(true, "Project updated with success", 'success', 6000)
            resetForm()
            break
        case 400:
            setToast(true, "Error register project", 'error', 6000)
            break
        case 500:
            setToast(true, "ALERT lost serverConnection", 'alert', 6000)
            break
        default:
            setToast(true, "Error register project", 'error', 6000)
            break
    }
}
function setToast(show: boolean, msg: string, type: string, time: number): void {
    toastShow.value = show
    toastInfo.message = msg
    toastInfo.typeMessage = type
    closeToastAfter(time)
}
function closeToastAfter(time: number): void {
    setTimeout(() => {
        toastShow.value = false
    }, time)
}
function resetForm(): FormProject {
    return Object.assign(form, { ...props })
}


</script>
