<template>
    <section :class="{ 'w-96 h-96': `${props.defaultWidthHeight}` }">
        <img
            :src="props.imageSourcePath"
            :alt="props.altText"
        />
        <slot></slot>
    </section>
</template>

<script setup lang="ts">
const props = defineProps({
    imageSourcePath: {
        type: String,
        default: ''
    },
    altText: {
        type: String,
        default: ''
    },
    defaultWidthHeight: {
        type: Boolean,
        defult: true
    }
})
</script>
