@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

main {
  min-height: 100vh;
  min-width: 50%;
  display: flex;
  justify-content: center;
}

table {
  max-width: 640px;
  min-width: 520px;
}

table td {
  max-width: 240px;
}