<template>
    <section class="h-10 bg-emerald-300 flex justify-around items-center">
        <Paragraph text-paragraph="Growth Frontend Vue 3 + TS" />
        <ul class="flex justify-evenly">
            <li class="mx-5">
                <RouterLink to="/"> Home</RouterLink>
            </li>
            |
            <li class="ml-5">
                <RouterLink to="/create-project"> Create new project</RouterLink>
            </li>
        </ul>
    </section>
</template>

<script setup lang="ts">
import Paragraph from '@/components/atoms/Paragraph.vue'
import { RouterLink } from 'vue-router'

</script>
