<template>
    <table
        class="table-auto"
        aria-describedby="list-of-projects"
    >
        <thead>
            <tr>
                <th
                    scope="col"
                    class="px-4 py-2 border"
                >
                    <section class="ml-3 flex items-center justify-around">
                        <p>ID</p>
                        <div class="flex flex-col">
                            <Button @click.prevent="sortById('desc')">
                                <ArrowIcon class="w-5 h-5 -rotate-90" />
                            </Button>
                            <Button @click="sortById('asc')">
                                <ArrowIcon class="w-5 h-5 rotate-90" />
                            </Button>
                        </div>
                    </section>
                </th>
                <th
                    scope="col"
                    class="px-4 py-2 border"
                >
                    <section class="ml-3 flex items-center justify-around">
                        <p>Name</p>
                        <div class="flex flex-col">
                            <Button @click.prevent="sortByProp('name', 'desc')">
                                <ArrowIcon class="w-5 h-5 -rotate-90" />
                            </Button>
                            <Button @click="sortByProp('name', 'asc')">
                                <ArrowIcon class="w-5 h-5 rotate-90" />
                            </Button>
                        </div>
                    </section>
                </th>
                <th
                    scope="col"
                    class="px-4 py-2 border"
                >
                    <section class="ml-3 flex items-center justify-around">
                        <p>Status</p>
                        <div class="flex flex-col">
                            <Button @click.prevent="sortByProp('status', 'desc')">
                                <ArrowIcon class="w-5 h-5 -rotate-90" />
                            </Button>
                            <Button @click="sortByProp('status', 'asc')">
                                <ArrowIcon class="w-5 h-5 rotate-90" />
                            </Button>
                        </div>
                    </section>
                </th>
                <th
                    scope="col"
                    class="px-4 py-2 border"
                >
                    <section class="ml-3 flex items-center justify-around">
                        <p>Date due</p>
                        <div class="flex flex-col">
                            <Button @click.prevent="sortByProp('dateDue', 'desc')">
                                <ArrowIcon class="w-5 h-5 -rotate-90" />
                            </Button>
                            <Button @click="sortByProp('dateDue', 'asc')">
                                <ArrowIcon class="w-5 h-5 rotate-90" />
                            </Button>
                        </div>
                    </section>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="(project, index) in  listProjectRender "
                :key="project.id"
                :class="(Number(index) % 2) ? 'bg-green-200' : 'bg-transparent'"
            >
                <td class="break-words border px-4 py-2 text-center">{{ project.id }}</td>
                <td class="break-words border px-4 py-2 text-center">{{ project.name }}</td>
                <td class="break-words border px-4 py-2 text-center">{{ project.status }}</td>
                <td class="break-words border px-4 py-2 text-center">{{ project.dateDue }}</td>
                <td class="border px-4 py-2">
                    <Button
                        name="Edit"
                        @click="editProject(project)"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script setup lang="ts">
import Button from "@/components/atoms/Button.vue"
import ArrowIcon from '../atoms/ArrowIcon.vue'
import router from '@/router'
const props = defineProps({
    listProjectRender: Object
})
function editProject(project: any) {
    router.push({
        path: `/edit/${project.id}`,
    })
}

// sortBy Id desc|asc
function sortById(orderBy: string) {
    return props.listProjectRender?.sort((firstItem: any, secondItem: any) => {
        switch (orderBy) {
            case 'desc':
                return secondItem.id - firstItem.id

            case 'asc':
                return firstItem.id - secondItem.id

            default:
                break
        }
    })
}

// sortBy prop and orderBy
function sortByProp(propKey: string, orderBy: string) {
    let prop = propKey
    return props.listProjectRender?.sort((firstItem: any, secondItem: any) => {
        let first = firstItem[ prop ]?.toLowerCase()
        let second = secondItem[ prop ]?.toLowerCase()
        if (first == second) {
            return 0
        }
        if (orderBy == 'desc') {
            if (first > second) {
                return -1
            } else {
                return 1
            }
        } else {
            return first > second ? 1 : -1
        }
    })
}

</script>
