<template>
    <Heading headingTitle="Total overview" />
    <section class="flex">
        <div class="w-1/2">
            <Paragraph
                textParagraph="Nº of new projects:"
                class="border px-4 py-2"
            >
                {{ props.numberNewProjects }}
            </Paragraph>

            <Paragraph
                textParagraph="Nº of delivered projects:"
                class="border px-4 py-2"
            >
                {{ props.numberDeliveredProject }}
            </Paragraph>

        </div>
        <div class="w-1/2">
            <Paragraph
                textParagraph="Nº of due date projects:"
                class="border px-4 py-2"
            >
                {{ props.numberDueDateProject }}
            </Paragraph>
            <Paragraph
                textParagraph="Most prominent language:"
                class="border px-4 py-2 "
            >
                <span class="uppercase"> {{ props.mostProminentLanguage }}</span>
            </Paragraph>

        </div>
    </section>
</template>

<script setup lang="ts">
import Heading from "@/components/atoms/Heading.vue"
import Paragraph from '../atoms/Paragraph.vue'

const props = defineProps({
    numberNewProjects: Number,
    numberDeliveredProject: Number,
    numberDueDateProject: Number,
    mostProminentLanguage: String
})
</script>
